/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */

@import 'compass';

body, html {
  font-family: 'Karla', sans-serif;
}

$baseColor: #006b04;
$navbarColor: $baseColor;

#content {
  margin-top: 10px;
}

.navbar .navbar-inner {
  background-color: $navbarColor;
  $start: $navbarColor;
  $end: lighten($navbarColor, 5%);
  @include background-image(linear-gradient($start, $end));
  
  a {
    color: #FFF;
    font-weight: bold;
    @include text-shadow(1px 1px 1px rgba(0,0,0,.2));
  }
}

.nav-list li {
  font-size: 1.2em;
  
  &.nav-header {
    padding-left: 0;
    font-size: 1.3em;
  }
}

