<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" media="all" charset="utf-8">
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">SuWa Hydro &rsaquo; {{ page.title }}</a>
        </div>
      </div>
    </div>
    <div class="container" id="content">
      <div class="row">
        <div class="span4">
          <ul class="nav nav-list">
            <li class="nav-header">Navigation</li>
            <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="nav-header">Datasets</li>
            <li><a href="/data/matsu_imagery_lidar.html">MatSu 2011 Imagery & LiDAR</a></li>
            <li><a href="/data/2012-highres_veg_imagery.html">High Resolution Vegetation Imagery</a></li>
            <li><a href="/data/historical_susitna/">Historical Susitna</a></li>
            <li><a href="/data/sdmi-ifsar.html">SDMI IFSAR</a>
          </ul>
        </div>
        <div class="span8">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
